<ion-header>
    <ion-toolbar>
      <ion-title>Punto de Entrada CC</ion-title>
      <ion-buttons slot="primary">
        <ion-icon ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="primary">Success</ion-button>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="barcode"></ion-icon>
        <ion-label>Barcode</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="schedule">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Contacts</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
      
      <ion-tab-button tab="map">
        <ion-icon name="map"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
