<ion-header>
  <ion-toolbar>
    <ion-title>Registro De Entrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Multiple Inputs</ion-label>
    <ion-input placeholder="Address Line 1"></ion-input>
    <ion-input placeholder="Address Line 2"></ion-input>
    <ion-input placeholder="City"></ion-input>
    <ion-input placeholder="State"></ion-input>
    <ion-input placeholder="Zip Code"></ion-input>
  </ion-item>
  <ion-button size="large" color="primary">Light</ion-button>
  <ion-button size="large" color="primary">Light</ion-button>
</ion-content>
